.bgColor{
    background-color: #050816;
}

.settext{
    text-decoration: none;
}

.alignment{
    margin-bottom: 15px;
}

.color_white{
    color: white;
}

.color_yellow{
    color: yellow;
}

.color_yellowgreen
{
    color: yellowgreen;
}

.color_brown
{
    color: brown;
}

.color_red
{
    color: red;
}